{% extends "base.html" %}
{% block content %}
<div class="login-container" style="margin: 0 auto;text-align: center;">
	<form class=form-horizontal action="{{ url_for('shop.login') }}" method=post>
	  {{ form.hidden_tag() }}
	  {{ form.alternative_mail(placeholder='Email') }}
	  {{ form.email }}
	  {{ form.password(placeholder='Password') }}
	  <div class=control-group>
	    <div class=controls>
	      <button type=submit class="btn btn-primary">Login</button>
	    </div>
	  </div>
	</form>
</div>
{% endblock %}