{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-7">
	{% for product in products %}
	<div class="col-md-12">
		<div id="{{product.name}}" class="thumbnail">
		  <img src="{{product.image}}" alt="">
		  <form ng-submit="addItem()">
			 <h3 class="item_name">{{product.name}}</h3>
			 <span>Description: </span><div class="item_description">{{product.description}}</div>
			 <span>Quantity: </span><input value="1" class="item_quantity" type="text"><br>
			 <span>Price: </span><span class="item_price">{{product.price}}</span><br>
			 <button type="submit" value="Add to Cart" class="btn btn-primary" id="submit">Add to Cart</button>
		   </form>
  		</div>
	</div>
	{% endfor %}
	</div>
	<div class="col-md-5">
	<div class=" cart_container">
		<div class="cart">
			<h3>Cart</h3>
			<ul class="items" id="items">
				<li class="item" ng-repeat="item in cart">
					<div class="cart_title">Title: {{item.title|angular}}</div>
					<div class="cart_price">Price: {{item.price|angular}}</div>
					<span class="cart_quantity" ng-model="quantity">Quantity: {{item.quantity|angular}}</span>
					<button class="btn btn-primary" ng-click="removeItem($index)">Remove</button>
				</li>
			</ul>
			<div class="cartTotal">
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}